@import url(./styles/Variables.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-synthesis: none;
}
body {
  background-color: var(--cor-background);
  color: var(--cor-texto);
  font-family: var(--fonte-texto);
  font-size: var(--fs-body);
}
html {
  scroll-behavior: smooth;
}
