.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.about-titulo {
  font-family: var(--fonte-titulo);
  font-size: var(--fs-h1);
  color: var(--cor-destaque);
}
.about-texto {
  font-family: var(--fonte-texto);
  font-size: var(--fs-subtitulo);
  color: var(--cor-texto);
  max-width: 500px;
  margin-top: 1rem;
}
.about-foto {
  max-width: 350px;
  height: auto;
  border-radius: 4px;
  border: 2px solid var(--cor-destaque);
}
.about-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 2rem;
}
