.portfolio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100svh;
  background-color: var(--cor-cards);
  padding: 3rem 1.5rem;
}
.portfolio-titulo {
  font-family: var(--fonte-titulo);
  font-size: var(--fs-h1);
  color: var(--cor-destaque);
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
@media (min-width: 1100px) {
  .portfolio-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 750px) {
  .portfolio-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}
