.portfolio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  background-color: var(--cor-cards);
  padding-top: 3rem;
}
.portfolio-titulo {
  font-family: var(--fonte-titulo);
  font-size: var(--fs-h1);
  color: var(--cor-destaque);
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
