.button {
  display: inline-block;
  border-radius: 4px;
  text-decoration: none;
  padding: 0.75rem 2rem;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease,
    box-shadow 0.3s ease;
  margin: 1rem 0;
}
.button-primario {
  background-color: var(--cor-botao);
  color: var(--cor-texto-claro);
}

.button-secundario {
  background-color: transparent;
  border: 2px solid var(--cor-botao);
  color: var(--cor-botao);
}
.button:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}
.button-primario:hover {
  background-color: var(--cor-hover-claro);
}

.button-secundario:hover {
  background-color: var(--cor-hover-escuro);
  color: var(--cor-texto-claro);
}
