.tattoo-card-imagem {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease,
    border-color 0.3s ease;
  border: 2px solid transparent;
}

.tattoo-card-imagem:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  border: 2px solid var(--cor-verde-musgo);
}

.tattoo-card-titulo {
  margin: 1.75rem 0;
  font-size: var(--fs-subtitulo);
  font-family: var(--fonte-titulo);
  text-align: center;
}
@media (max-width: 750px) {
  .tattoo-card-imagem {
    height: 300px;
  }
}
@media (max-width: 440px) {
  .tattoo-card-imagem {
    height: 200px;
  }
}
